body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgba(226, 239, 239, 1);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 90%;
}
.container {
    padding: 0 0px 0 30px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.00);
    max-width: 100%;
    min-height: 100%; 
}
.container #hometable {
   width: 92%;
   height: 100%;
   margin: 0 20px 0 30px;
}

.container #hometable td {
    min-width: 200px; 
    
    
}

.table-striped > tbody > tr:nth-child(odd) > td {
    background-color: #f1f1f1
}
.table-striped > tbody > tr:nth-child(even) > td {
    background-color: white;
}

.navbar-fixed-bottom {
    background-color: lightgray;
    padding: 10px 0 00px 0;
    /*border: 15px solid lightgray;*/
    height: 60px;
    text-align: center; 
}
.navbar-fixed-bottom p{
    color: dimgray;
    margin: 5px 0 5px 50px;
    line-height: 1.3;
    font-size: 12px;
}
#urlcont{
    margin-top: 10px;
    width: 290px;    
}
#urllabel{
    color: #999;
}
#urlnav{
   
}
#ainput {
    display:unset;
    width: 70%;
    height: 30px
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: default;
}

.table-hover > tbody > tr:hover > td{
    background-color: #DDDDDD;
}

th{
    background-color: #444;
    color: #999;
}

