
@{
    ViewBag.Title = "Login";
    if (TempData["shortMessage"] == null)
    {
        TempData["shortMessage"] = "";
    }
}

<h2>Login</h2>
<p><b>@ViewBag.Message</b></p>

@using (Html.BeginForm("Login", "User", FormMethod.Post))
{
    <table class="table-condensed">
        <tr>
            <td>Login: </td>
            <td>@Html.TextBox("Login", "", new { @class="form-control", @placeholder="test"})</td>
        </tr>
        <tr>
            <td>Password: </td>
            <td>@Html.TextBox("Password", "", new { @class = "form-control", @type = "password", @placeholder="test" })</td>
        </tr>
        <tr>
            <td><input class="form-control" type="submit" id="validate" value="Submit "/></td>
            <td></td>
        </tr>
    </table>

}