
@{
    ViewBag.Title = "MyCourses";
    if (TempData["shortMessage"] == null)
    {
        TempData["shortMessage"] = "";
    }
}

<h2>MyCourses</h2>
<p><b>@TempData["shortMessage"].ToString()</b></p>
