
@{
    ViewBag.Title = "Index";
}
<p><br /> </p>
<h4>MKTG 1102 - Essentials of Marketing</h4>
<p>An introduction to the fundamentals of marketing. In addition to the “four Ps” of marketing—product, price, place, and promotion—students will be introduced to how marketers create customer-driven marketing strategies based on their research and understanding of the marketing environment and customers. </p>

<h4>MKTG 1352 - Digital Marketing</h4>
<p>Key areas that promise to leverage the power of Internet are: customer relationship management (CRM); 1:1 marketing; permission-based e-mail marketing; viral marketing; attributes of a good Website and Website marketing goals; Website promotion/search engine positioning/ranking, and key Internet technologies/terminologies/acronyms.</p>

<h4>TMGT 7112 - Marketing Research</h4>
<p>This course will enable students to develop a marketing research plan that will enable them to effectively examine the methods of assessing early market opportunities for high technology industrial and consumer products.</p>