

@model IEnumerable<Final.Models.vClass>
@{
    ViewBag.Title = "Courses";
    if (TempData["shortMessage"] == null)
    {
        TempData["shortMessage"] = "";
    }
}
<h2>MVC Registration System</h2>
<p>This is the list of courses available for this term. Create an account or sign in to register for any course. <br /> Default credentials are <b>login: test, password: test</b></p>
<p><b>@TempData["shortMessage"].ToString()</b><br /></p>

<table id="hometable" class="table table-bordered table-striped table-hover">
    <tr>
        <th>Course Name</th>
        <th>Start Date</th>
        <th>Description</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ClassName)</td>
            <td>@Html.DisplayFor(modelItem => item.ClassDate)</td>
            <td>@Html.DisplayFor(modelItem => item.ClassDescription)</td>
        </tr>
    }
</table><br /><br /><br /><br />
