html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body {
    /*display: none;*/
    background: unset;
    font-size: 1.5em;
    /*background-image: url(../images/bg_tile2.png);
    background-size: 40%;*/
    
    overflow: hidden;
    height: 100%;
}
#cubebg{
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url(../images/bg_tile2.png) 0 0 repeat;
    filter: brightness(1.12);
    transform: rotate(15deg);
}
#container {
    height: 100vh;
}

#divNav {
    background-color: rgba(31, 33, 36, 0.87);
}
.templatemo-site-header {
    margin: 10px 0;
    max-height: 7%;
    text-align: center;
}
.templatemo-left-nav {
    margin-top: 20%
}

.templatemo-sidebar{
    height: 75%
}
.templatemo-left-nav a {
    color: rgb(255, 255, 235);
}

.templatemo-content {
    min-height: unset;
}

.light-gray-bg {
}

li {
    list-style-type: circle;
    margin-left: 20px;
}

.avatText {
    text-align: center;
}

.avatar-bg {
    background-color: white;
    color: #333333;
}

.img-circular {
    width: 80px;
    height: 80px;
}

#myModal {
    background: transparent;
    position: absolute;
    margin: 0 auto 0 auto;
    left: 0;
    top: 0;
}

.modal-content {
    /*background-color: #555555;
    color: white;*/
}

.modal-dialog {
    width: 800px;
    padding-top: 160px;
}

.modal-backdrop {
    z-index: initial;
}

#divAvatCont {
    padding: 30px;
    border-radius: 25px;
    background-color: white;
    position: absolute;
    visibility: visible;  
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -170px 0 0 -300px;
    min-width: 600px;
    /*left: 90%;
    top: 0*/
}

nav li {
    font-size: 1em;
    margin: 0;
}

#divUserInfo {
    
    box-sizing: border-box;
    width: 100%;
    height: 7%;
    background-color: rgba(255, 255, 255, .8);
    border-bottom: 2px solid #97b972;
    box-shadow: 0px 10px 30px #b2b2b2;
}
#sessionData{
    margin-top: 5%;
    
}
.textUserData{
    
    padding:1.2%;
    
}
#profilePic{
    text-align: right;
    margin: 5px 15px 0 0;
    
}
#profilePic .img-circular-small{
    width: 35px; height: 35px;
}
#iframeCont {
    width: 100%;
    /*compliments with divUserInfo height*/
    height: 93%;
    background-color: #e2efef;
    background-image: url(../images/loader.gif), url(../images/bar.png);
    background-position: 50% 50%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    background-size: 70px, auto auto;
}

iframe {
    margin: 0 100px 0 0;
    box-sizing: border-box;
    display: block; /* iframes are inline by default */
    background: rgba(255, 255, 255, 0.00);
    border: none; /* Reset default border */
    height: 100%; /* Viewport-relative units */
    width: inherit;
}


.table-assi4 td {
    /*border: 1px solid #ddd;
    padding: 8px;*/
    min-width: 200px;
    
}
.table-assi4 th{
    background-color: rgba(19, 137, 95, 0.80);
    color: white;
}

.table-assi1 td{
    min-width: 120px;
}
.table-assi1 th{
    background-color: rgba(19, 137, 95, 0.80);
    color: white;
}
#contactForm{
    max-height: 400px
}

#phContent1_ItemsGrid2 td{
    min-width: 100px;
}
#asg1{
    margin-top: 5%;
}

@media screen and (max-width: 768px) {
    #mob1 {
        height: 100%;
    }

    #mobHeader {
        text-align: left;
        
    }
    #divNav{
        height: 60px;
        padding: 5px;
    }
    #divUserInfo{
        display: flex;
        height :10%;
        font-size: .9em;
    }
    #divUserInfo div {
        border-right: 1px solid black;
    }
    #profilePic{
        text-align: center
    }
}